@import '../node_modules/bulma/css/bulma.min.css';

.terminal {
  background-color: hsl(0, 0%, 4%);
  color: hsl(0, 0%, 96%);
  position: absolute;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.has-text-violet {
  color: hsl(271, 100%, 71%);
}
